// Colors
$color-primary: #ff7a7a;
$color-secondary: #38cc8c;
$color-secondary-shadow: #31b77d;
$color-accent-blue: hsl(248, 32%, 49%);
$color-neutral-dark-blue: hsl(249, 10%, 26%);
$color-neutral-grayish-blue: hsl(246, 25%, 77%);
$white: #fefefe;
$color-text: #fff2f4;
